*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #FFE69A;


}
.toolbox-cont{
    height: 5rem;
    background-color: #2155CD;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100vw;
    top: 0px;
    
}
.toolbox-priority-cont{
    height: 3rem;
    background-color: #92B4EC;
    width: 18rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    padding: 10px 20px;

    

}
.action-btn-cont{
    background-color: #92B4EC;
    height: 3rem;
    width: 10rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    border-radius: 25px;
}
.color{
    height: 1.5rem;
    width: 3rem;
    padding: 10px 20px;
    border-radius: 25px;
    

}
.lightpink{
    background-color: lightpink;
}
.green{
    background-color: lightgreen;

}
.blue{
    background-color: lightblue;
}
.black{
    background-color: black;
}
.add-btn{
    font-size: 1.5rem;
}
.remove-btn{
    font-size: 1.5rem;

}
.modal-cont{
    position: absolute;
    left:25vw;
    top: 25vh;
    background-color:#6A67CE;
    height: 50vh;
    width:50vw;
    display: none;
    padding: 10px 20px;
    border-radius: 25px;
    

}
.textarea-cont{
    outline:none;
    resize: none;
    border:none;
    background-color:#EEF3D2;
    height: 100%;
    width: 75%;
    font-size: 2rem;
    padding: 2rem;
    border-right: 2px solid #F56D91;
    padding: 10px 20px;
    border-radius: 25px;


}
.priority-color-cont{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    border-radius: 25px;
    
   


}
.priority-color{
    height: 3rem;
    width: 5rem;
    padding: 10px 20px;
    border-radius: 20px;
}
.main-cont{
    margin-top: 7rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
    

}
.ticket-cont{
    background-color: #F8ECD1;
    height: 10rem;
    width: 16rem;
    
   
    
}
.ticket-color{
    height: 1rem;

}
.ticket-id{
    height: 1.5rem;
    background-color: #FF6363;
    font-weight: 600;
    font-size: 0.rem;
    color: #06113C;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-top: 0.3rem;
    padding: 5px 15px;
    border-radius: 20px;


}
.task-area{
    height: 5rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-size: 1.25rem;
    overflow: auto; 
    outline: none;
    word-break: break-all;

}
.active{
    border: 5px solid #1919b2;
}
.lock-unlock{
    font-size: 1.5rem;
    margin-left: 14.5rem;
    
    
}

